@model BusinessEntities.UserDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>title</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))
        {
            @Html.LabelFor(c => c.UserName)
            @Html.TextBoxFor(x => x.UserName)
            <br />

            @Html.LabelFor(c => c.Password)
            @Html.PasswordFor(x => x.Password)
            <br />

            @*@Html.ValidationMessage("PassWord")
            <br />*@

            <input type="submit" name="BtnSubmit" value="Login" />
        }
    </div>
</body>
</html>