@using ViewModel.SPA
@model MainViewModel

@{
    Layout = "~/Areas/SPA/Views/Shared/MyLayout.cshtml";
}


@section TitleSection
{
    Single Page Application
}



@section ContentBody
{
    <h1>Hello SPA</h1>
}
