@using System.Web.Mvc.Html
@using ViewModel
@model ViewModel.PokemonListViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    MyView
}
@section ContentBody{
    @{
        Html.RenderAction("GetAddNewLink");
    }

    @foreach (PokemonViewModel pokemon in Model.PokemonList)
    {
        <div>
            @pokemon.PokemonId @pokemon.PokemonName

        </div>
    }
}

