@using mvc5_first.ViewModels
@model ErrorViewModel
@{
    Layout = "MyLayout.cshtml";
}


@section TitleSection{
    错误页面
}

@section ContentBody
{
    <h1>错误信息：</h1>
    <p>@Model.Error</p>
    <h1>堆栈信息：</h1>
    <p>@Model.Stack</p>
}
